<%- include('partials/_header.ejs') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Home</h1>
            <span class="subheading">Mehmet Sönmez</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 mx-auto">
          <h2 class="text-center">Last shared blogs</h2>
          <hr>
          <% for(let i=0; i<posts.length; i++) { %>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                <%= posts[i].title %>
              </h2>
              <h3 class="post-subtitle">
                <%= posts[i].description %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              2022 1 Augtost</p>
          </div>
          <% } %>
        </div>
        
        <div class="col-lg-6 col-md-12 mx-auto">
          <h2 class="text-center">Last shared projects</h2>
          <hr>
          <% for(let i=0; i<projects.length; i++) { %>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                <%= projects[i].title %>
              </h2>
              <h3 class="post-subtitle">
                <%= projects[i].description %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              2022 1 Augtost</p>
          </div>
          <% } %>
        </div>
    </div>
    <hr>
  </div>
    <!-- Pager -->
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="/post">Older Posts &rarr;</a>
  </div>
    
    

  <hr>

  <%- include('partials/_footer.ejs') -%>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
